-#  This file is app/views/projects/index.html.haml
%h1 All Project Tasks

= form_tag projects_url, :method => :get do
  Include:
  = hidden_field_tag "direction", params[:direction]
  = hidden_field_tag "sort",  params[:sort]
  - @users.each do |user|
    = user
    - if params[:users]
      = check_box_tag "users[#{user}]", 1, params[:users] && params[:users][user] == '1'
    -else
      = check_box_tag "users[#{user}]", 1, true, id: "users_#{user}"

  = submit_tag 'Filter'



%table#projects
  %thead
    %tr
      %th 
        = sortable "title", "Task Title"
      %th Task Details
      %th Assigned User
      %th 
        = sortable "due_date", "Due Date"

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.title 
        %td= link_to "More about #{project.title}", project_path(project)
        %td= project.user
        %td= project.due_date.to_formatted_s(:long)

= link_to 'Add new project task', new_project_path
