html, body {
  margin: 0;
  padding: 0;
  background: #E8E8E8;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: DarkSlateGrey;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: black;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #E8E8E8;
  color: black;
  border-bottom: 4px solid grey;
  font-size: 2em;
  font-style: normal;
}
table#projects {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
}
table#projects th {
  border: 2px solid white;
  font-weight: bold;
  background-color: #A8A8A8;
}
table#projects th, table#projects td {
  padding: 4px;
  text-align: left;
  border-bottom: 1px solid grey;
}
table#projects th.hilite {
  background-color: #707070;
  color: white;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

.asc, .desc {
  background-color: yellow;
}
